<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order {{ product.title }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/styles.css' %}">
</head>
<body>
    <header>
        <h1>Order {{ product.title }}</h1>
    </header>
    <main>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Order</button>
        </form>
    </main>
</body>
</html>
